form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


img {
    object-fit: cover;
}


footer {
    padding-top: .25em;
    margin: auto;
    text-align: center;
}


.header-text {
    font-family: 'Comfortaa', cursive;
    color: #191d6e;
}

.header-container {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: .5em;
}

.header-links {
    align-self: flex-end;
}
     
.search-container {
    width: 92%;
    border: 1px solid;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
}

.search-drop {
    padding: .5em;
    order: 1;
    align-self: flex-start;
}

.search-input {
    padding: .5em;
    order: 2;
    align-self: center;
}

.search-submit {
    padding: .5em;
    order: 3;
    align-self: flex-end;
}

#albums_available_for_review_display_table{
    width:100%; 
    border-collapse:collapse; 
    overflow: scroll;
}

#albums_available_for_review_display_table td{ 
    padding: .5em;
}

#albums_available_for_review_display_table tr{
    background: #b8d1f3;
}

#albums_available_for_review_display_table tr:nth-child(odd){ 
    background: #c7f8098;
}

#albums_available_for_review_display_table tr:nth-child(even){
    background: #eee9e5;
}

.album-data-container {
    width: 95%;
    height: 70%;
    margin: auto;
    margin-top: .3em;
}

.header {
    text-align: justify;
    margin: auto;
    padding: .25em;
}

.grid-row {
    margin: auto;
    text-align: justify;
    padding: .25em;
}
    
.album-row {
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: nowrap;
    padding: .5em;
    justify-content: center;
    height: 50%;
}

.album-art {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cover {
   min-width: 20%;
   max-width: 25%;
}


.image{
    width: 85%;
    height: 85%;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.album-name {
   min-width: 20%;
   max-width: 25%;
}

.artist_name {
    min-width: 15%;
    max-width: 20%;
}

.artist-page {
    min-width: 10%;
    max-width: 25%;
}

.spotify {
    min-width: 10%;
    max-width: 25%;
}

.review-link {
    margin: auto;
    min-width: 15%;
    padding-right: .25em;
    max-width: 20%;
}

