.header-container {
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: .5em;
}

body {
    height: 98%;
}

h2, .header-text {
    font-family: 'Comfortaa', sans-serif;
    color: #191d6e;
}

h2 {
    padding-left: 1em;
    padding-bottom: .5em;
}

.album-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 90%;
}

.danger-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: .5em;
}

.edit-album {
    padding-right: .5em;
    align-self: center;
}

#edit-modal {
   display: none;
   position: fixed;
   z-index: 1;
   overflow: auto;
   margin: auto;
   padding-top: 2em;
}

.modal-content {
   width: 75%;
   height: 25%;
   margin: auto;
   padding: 1em;
}

form {
   padding: .5em;
}

.delete-album {
    padding-left: .5em;
    align-self: center;
}

.btn-yellow {
    border: none;
    background-color: #e0c512;
}

.btn-yellow:hover {
    background-color: #a6910c;
}

#delete-modal {
   display: none;
   position: fixed;
   background-color: red;
   z-index: 1;
   overflow: auto;
   margin: auto;
   padding-top: 2em;
}

.album-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding-right: .5em;
    padding-left: .75em;
}

.album-header-text {
    font-family: 'Comfortaa', sans-serif;
    color: #191d6e;
    flex-basis: 50%;
    order: 2;
    display: flex;
    flex-direction: column;
}

.art-container {
    flex-basis: 50%;
    max-height: 60%;
    max-width: 70%;
}

.header-art {
    order: 1;
    overflow: hidden;
    position: relative;
    max-height: 90%;
    max-width: 90%;
    //padding-bottom: 100%;
}

img {
    object-fit: fill;
}

.album-art {
    max-width: 500px;
    max-height: 500px;
}


.album-facts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //max-height: 50%;
}

.album-fact-header {
    //flex-basis: 100%;
    text-decoration: underline;
    align-self: center;
    padding-right: .25em;
    font-family: 'Comfortaa', sans-serif;
    color: #191d6e;
}

.album-fact-ind {
    padding-bottom: 1em;
}

.btn-spotify {
   background-color: #45B817;
   border: none;  
}

.btn-spotify:hover {
    background-color: #318310;
}

