body {
    width: 95%;
    height: 95%;
}

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    color: #e4dfdf;
    border-color: #e4dfdf;
    background-color: #71a36a;
    hover: #ffd66b;
}

.select-genres {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.genres-selected {
    padding: .5em;
    margin: .5em;
}

.fas {
   pointer-events: none;
}
