<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>500 Page</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/404.css">
  </head>
  <body>
      <div class="error-container">
      	<div class="not-found">SERVER ERROR 500</div>
        <img class="not-found" src="https://66.media.tumblr.com/b04af536a5cf8ca1a8ae8a6fdf94f46f/tumblr_ptmcezaRg81rvyjqg_250.gif" class='album-art'>
        <div class="not-found" >Congratulations! You broke the website!</div>
        <div class="not-found">This is why everyone should hire QE.</div>
      </div>
  </body>
</html>

