<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>500 Page</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/404.css">
  </head>
  <body>
      <div class="error-container">
      	<div class="not-found">SERVER ERROR 500</div>
        <img class="not-found" src="https://media.giphy.com/media/2fTOT5PhBUdJbDeVLH/giphy.gif" class='album-art'>
        <div class="not-found" >Congratulations! You broke the website!</div>
        <div class="not-found">This is why everyone should hire QE.</div>
        <div class="not-found">Error details:</div>
        <div class="not-found">{{ error }}</div>
        <div class="footer-button not-found">
            <a href="/" role="button" class="btn btn-primary">Return Home</a>
         </div>
      </div>
  </body>
</html>

