{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/artist_page.css">
<link rel="stylesheet" href="static/style.css">
{% endblock %}
{% block scripts %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
<script type="text/javascript" src="static/js_helpers.js"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="home-button" style="float: right;"><a href="/" role="button" class="btn btn-primary">Return Home</a></div>
<body>     
<h2>Add an Artist</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    {% for message in messages %}
      <div class="alert alert-secondary" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
          </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <form action="/add_artist" method="POST">
      <div class="form-group">
        <label for="artistName">Artist Name</label>
        <input name="artistName" type="text" class="form-control" id="artistName" placeholder="Enter an Artists name">
      </div>
      <div class="form-group">
        <label for="artistWebsite">Website URL</label>
        <input name="artistWebsite" type="text" class="form-control" id="artistWebsite" placeholder="Website URL">
      </div>
      <div class="form-group">
        <label for="artistImage">Image URL</label>
        <input name="artistImage" type="text" class="form-control" id="artistImage" placeholder="Image URL">
      </div>
      <div class="form-group">
        <label for="artistLocation">Location</label>
        <input name="artistLocation" type="text" class="form-control" id="artistLocation" placeholder="Location">
      </div>
      <div class="form-group">
        <label for="artistDescription">Description</label>
        <input name="artistDescription" type="text" class="form-control" id="artistDescription" placeholder="Description">
      </div>
      <div class="form-group">
        <div class="genres-selected">Genres Selected:</div>
        <div class="select-genres">
        <label for="artistGenres">Genres</label>
        <input class="hidden-select" type="hidden" id="artistGenresHidden" name="artistGenres" onclick="getValues()">
        <select class="form control multi-select md-form" name="artistGenres" id="artistGenres" multiple searchable="Search here...">
            {%  for genre in genres %}
              {% if genre == genres[0] %}
                <option selected="selected" id="genre-option" value="{{ genre.genre_id }}">{{ genre.genre_name }}</option>
              {% else %}
                <option id="genre-option" value="{{ genre.genre_id }}">{{ genre.genre_name }}</option>
              {% endif %}
            {%  endfor %}
        </select>
        </div>
        <div class="form-group">
            <button class="add add-genre btn btn-primary" name="add" id="add" onclick="addGenre()">Add Genre</button>
        </div>
      </div>
      <input id="submit-form" type="submit" class="btn btn-primary">
    </form>  
    <br>
    <div class="new-genre-div">
      <h4>If you can't find a genre that matches the artist you'd like to add please submit a new genre!</h4>
        <input id='new-genre-input' type="text" placeholder="Please enter new genre">
        <button class="btn btn-primary" id="new-genre">Add new genre</button>
    </div>
      </form>
</body>
{% endblock %}
