<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap -->
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/static/searching.css">
      <link rel="stylesheet" href="static/style.css">
   </head>
   <body>
      <div class='header-container'>
         <div class='header-text'>
            <i class="fas fa-volume-up"></i>
            Pitchfork Copycat Music Review
         </div>
      </div>
      <div class="search-incorrect-container">
         <h1 class="header-text none">Sorry, but we couldn't update that album art. Can you try again and make sure that the inputis  in HTML form?</h1>
         <div class="none img-none">
            <img src="https://media.giphy.com/media/h7X3x5cD9Ar1wVKa12/giphy.gif">
         </div>
         <div class="footer-button none">
            <a href="/" role="button" class="btn btn-primary">Return Home</a>
         </div>
      </div>
   </body>
</html>
