{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Album Review Page</title>
    {% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="/static/review_page.css">
    <link rel="stylesheet" href="static/style.css">
    {% endblock %}
    {% block scripts %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    {% endblock %}
</head>

<body>
    {% block content %}
    <h1><div class="title">Album Reviews: {{ album }}</div>
    <div class="home-button"><a href="/" role="button" class="btn btn-primary">Return Home</a></div>
    </h1>
    <div class="review-container">
        <div class="existing-reviews-container">
            {% if existing_reviews %}
            <table id='existing-reviews-table'>
                {% for review in existing_reviews %}
                <tr class="review-row">
                    <th class="user header">User Name</th>
                    <th class="rating header">Rating</th>
                    <th class="review-text header">Review Text</th>
                    <th class="edit header">Edit this Comment</th>
                    <th class="delete header">Delete this Review</th>
                </tr>
                <tr class="review-row">
                    <td class="user row">{{ review.name }}</td>
                    <td class="rating row">{{ review.rating }}</td>
                    <td class="review-text row">{{ review.review_text }}</td>
                    <td class="edit row">
                        <a href="/route_to_edit/review/{{ review.user_id }}/{{ album }}-{{ artist }}-{{ review.review_id }}" role="button" class="btn btn-primary", data-action="{{ review.user_id }}">
                            Edit this comment
                        </a>
                    </td>
                    <td class="delete row">
                        <a href="/route_to_delete/review/{{ review.user_id }}/{{ album }}-{{ artist }}-{{ review.review_id }}" role="button" class="btn btn-danger" data-action="{{ review.user_id }}">
                            Delete this Review
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <table id='no-existing-reviews-table'>
                <tr class="review-row">
                    <th class="none header">There are no existing reviews for this album.</th>
                </tr>
            </table>
            {% endif %}
        </div>
        <form method="post">
            <div class="review-submission-container">
                <div class="review-text-container">
                    {{ form.hidden_tag() }} {{ form.body.label }}
                    <input type="textarea" name="body" id="review-box" placeholder="Enter review...">
                    {{ form.review_select.label }}
                    <select id="review-select" name="review_select">
                    	<option value="1">1</option>
                    	<option value="2">2</option>
                    	<option value="3">3</option>
                    	<option value="4">4</option>
                    	<option value="5">5</option>
                    	<option value="6">6</option>
                    	<option value="7">7</option>
                    	<option value="8">8</option>
                    	<option value="9">9</option>
                    	<option value="10">10</option>
                    </select> 
                </div>
            	<div class="review-user-creds-container">
                	{{ form.firstname.label }}
                	<input class="user-creds-input" type="text" name="firstname" id="user-fname-field" placeholder="First Name"> {{ form.lastname.label }}
                	<input class="user-creds-input" type="text" name="lastname" id="user-lname-field" placeholder="Last Name"> {{ form.email.label }}
                	<input class="user-creds-input" type="text" name="email" id="user-email-field" placeholder="E-Mail">
            	</div>
            	<div class="submission-container">
                {{ form.submit() }}
            	</div>
             {% with messages = get_flashed_messages() %}
  		{% if messages %}
    			<ul class="flashes alert alert-secondary">
    				{% for message in messages %}
      					<li>{{ message }}</li>
   				 {% endfor %}
   			 </ul>
 		 {% endif %}
	    {% endwith %}
	    </div>
        </form>
    </div>
    {% endblock %}
</body>

</html>
