{% extends "bootstrap/base.html" %}

{% block content %}
<h2>{{ query.name }}</h2>
<h1> located in: {{ query.location }}
<div class="image" width="80%" height="80%"><img src="{{ query.image }}"></div>
<ul>
    <li>
        <h4>Description</h4>
        <ul>
            <li>{{ query.description }}</li>
            <li> more info at: <a href="{{ query.website }}">artist personal website</a></li>
        </ul>
        <div> some albums associated with this artist:</div>
        <ul>
            <li>album called {{ query.album_title }} released on {{ query.album_release }}</li>
        </ul>
    </li>
</ul>
{% endblock %}
