{% extends "bootstrap/base.html" %}

{% block content %}
<h2>{{ query.name }}</h2>
<h1> located in: {{ query.location }}
<img src="{{ query.image }}">
<ul>
    <li>
        <h4>Description</h4>
        <ul>
            <li>{{ query.description }}</li>
            <a href="{{ query.website }}"><li> more info</li></a>
        </ul>
        <h4>Albums</h4>
       
        <ul>
            {% for album in albums %}
            <a href="/albums/{{ album.id }}"><li>{{ album.title }} | {{ album.release_date }}</li></a>
            {% endfor %}
        </ul>
    </li>
</ul>

<br>
<div class="editArtist">
    <a class="btn btn-primary" role="button">Edit Artist</a>
</div>
<div class="deleteArtist">
    <a class="btn btn-danger" role="button">Delete Artist</a>
</div>

<style>
    img {
    display: block;
    max-width:1000px;
    max-height:500px;
    width: auto;
    height: auto;
    }
</style>
{% endblock %}
